#chatbot-container {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 25dvw;
  height: 80dvh;
  display: none;
  border: none;
  border-top-left-radius: 10px;
  z-index: 99999;
}
#chatbot-iframe {
  position: fixed;
  bottom: inherit;
  right: inherit;
  width: inherit;
  height: inherit;
  border: hidden;
  z-index: 99999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#chatbot-toggle {
  position: fixed;
  width: 60px;
  height: 50px;
  bottom: 5px;
  right: 50px;
  cursor: pointer;
  z-index: 99999;
}
@media only screen and (min-width: 1201px) {
  #chatbot-container {
    width: 400px;
    height: 80dvh;
    bottom: 65px;
    right: 5px;
    position: fixed;
  }
  #chatbot-toggle {
    width: 60px;
    height: 50px;
    right: 2dvw;
    bottom: 1dvh;
  }
}
@media only screen and (max-width: 1200px) {
  #chatbot-container {
    width: 35dvw;
    height: 80dvh;
    bottom: 60px;
    right: 5px;
    position: fixed;
  }
  #chatbot-toggle {
    width: 60px;
    height: 50px;
    right: 4dvw;
    bottom: 1dvh;
  }
}
@media only screen and (max-width: 1024px) {
  #chatbot-container {
    width: 35dvw;
    height: 80dvh;
    bottom: 55px;
    right: 5px;
    position: fixed;
  }
  #chatbot-toggle {
    width: 55px;
    height: 45px;
    right: 6dvw;
    bottom: 1dvh;
  }
}

@media only screen and (max-width: 768px) {
  #chatbot-container {
    width: 50dvw;
    height: 80dvh;
    bottom: 50px;
    right: 5px;
    position: fixed;
  }
  #chatbot-toggle {
    width: 50px;
    height: 40px;
    right: 8dvw;
    bottom: 1dvh;
  }
}

@media only screen and (max-width: 480px) {
  #chatbot-container {
    width: 75dvw;
    height: 75dvh;
    bottom: 45px;
    right: 5px;
    position: fixed;
  }
  #chatbot-toggle {
    width: 45px;
    height: 35px;
    right: 10dvw;
    bottom: 1dvh;
  }
}
